.layout-auto {
  display: flex;
  contain: layout;
  overflow: visible;
}
.layout-auto > * {
  margin: calc(var(--la-gap) / 2 * -1 * var(--rl-gap-size, 1rem));
  width: calc(100% - (var(--rl-gap-size, 1rem) * var(--la-gap) * 2));
  flex-grow: 1;
}
.layout-auto > * > * {
  margin: calc(var(--la-gap) / 2 * var(--rl-gap-size, 1rem));
}
