.layout-h-stack {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
}

.layout-h-stack > * {
  margin: 0;
  /* flex-grow: var(--lhs-flex-grow);
  flex-basis: calc((var(--lhs-collapse-at) - (100% - (var(--la-gap) * 1em))) * 999); */
}
